<footer class="bg-dark footer mt-auto">
  <div class="container py-1 text-muted">
    <h3 class="d-inline">Address:- Near ITER , Jagamara , BBSR</h3><br>
    <i class="fas fa-phone"> </i><span>9999-999-999</span>
    
    <hr style="height: 2px" />
  </div>
    <div class="col-md-4"></div>
  </div>
  <div class="container py-1">
    <div class="text-center">
      <span class="text-muted"
        >&copy;2021 XYZ BANK</span
      >
    </div>
  </div>
</footer>
